@media (max-width: 1100px) {
	.specialized {
		&__item {
			text-align: center;
			&-img {
				width: 80%;
			}
		}
		&__item + &__item {
			margin-left: 20px;
		}
	}
	.projects {
		&__items {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__item {
			margin-bottom: 30px;
		}
	}
}
@media (max-width: 1040px) {
	.standarts {
		&__info {
			max-width: 489px;
			margin-right: 5px;
		}
	}
}
@media (max-width: 930px) {
	.standarts {
		&__items {
			flex-wrap: wrap;
		}
		&__item + &__item {
			margin-left: 40px;
		}
		&__item-info {
			font-style: 13px;
		}
	}
}
@media (max-width: 850px) {
	.header__main-title {
		font-size: 25px;
		line-height: 34px;
		p {
			font-size: 13px;
			line-height: 15px;
		}
	}
	.title {
		font-size: 22px;
		line-height: 35px;
	}
	.advantages {
		margin-top: 60px;
		&__items {
			flex-wrap: wrap;
		}
		&__item + &__item {
			margin-left: 0;
			margin-top: 20px;
		}
	}
	.standarts {
		&__item-title {
			&::before {
				left: 27px;
				top: 3px;
			}
		}
		&__wrapper {
			flex-wrap: wrap;
			padding-bottom: 40px;
		}
		&__img {
			margin-top: 30px;
		}
	}
	.specialized {
		&__top {
			padding-top: 50px;
			margin-bottom: 35px;
		}
		&__item {
			&-text {
				color: #000;
			}
		}
	}
}
@media (max-width: 760px) {
	.specialized {
		&__title {
			max-width: 310px;
		}
		&__item {
			&-title {
				font-size: 18px;
				margin-bottom: 5px;
			}
		}
	}
}
@media (max-width: 690px) {
	.standarts {
		&__items {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__item + &__item {
			margin-left: 0;
		}
	}
	.video {
		padding-bottom: 70px;
	}
	.form {
		&__title {
			margin: 25px 0 20px;
		}
	}
	.footer {
		&__items {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__item {
			margin: 10px 15px;
		}
		&__item-contacts {
			margin: 10px 15px;
		}
	}
}
@media (max-width: 650px) {
	.menu__list {
		justify-content: center;
		padding-left: 0;
	}
	.video .container {
		border: none;
	}
}
@media (max-width: 600px) {
	.header {
		&__top {
			height: 140px;
			.logoButton {
				display: block;
			}
		}
		&__mobile-nav {
			position: absolute;
			width: 100%;
			background-color: #000;
			padding: 20px;
			z-index: 50;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				gap: 10px;
				li {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
	.header .menu {
		&__list {
			display: none;
			position: absolute;
			text-align: center;
			width: 100%;
			top: 75px;
			left: 0;
		}
		&__item {
			height: 40px;
			&:hover {
				border: none;
				text-decoration: underline 1px solid white;
			}
		}
		&__item + &__item {
			margin-left: 0;
		}
		&__list li + li {
			padding-left: 0;
		}
		&__btn {
			// margin-left: auto;
			top: 50px;
			width: 30px;
			height: 30px;
			position: relative;
			cursor: pointer;
			span {
				width: 100%;
				height: 3px;
				background-color: white;
				top: 14px;
				position: absolute;
			}
			&::after,
			&::before {
				content: "";
				width: 100%;
				height: 3px;
				background-color: white;
				position: absolute;
			}
			&::after {
				top: 0;
			}
			&::before {
				bottom: 0;
			}
		}
	}
	.specialized {
		text-align: center;
		&__top {
			flex-wrap: wrap;
			flex-direction: column;
			align-content: center;
		}
		&__items {
			flex-wrap: wrap;
		}
		&__item-link {
			margin: 30px 0 35px;
		}
		&__item + &__item {
			margin-left: 0px;
		}
	}
	.projects {
		&__title {
			padding-top: 35px;
		}
		&__items {
			margin-bottom: 25px;
		}
		&__text {
			margin: 25px auto 40px;
		}
		&__btn {
			margin-bottom: 35px;
		}
	}
}
@media (max-width: 500px) {
	.form {
		&__email {
			width: 200px;
		}
		&__description {
			margin-bottom: 35px;
		}
	}
	.footer {
		&__items {
			padding: 20px 0;
		}
	}
}
@media (max-width: 478px) {
	.footer {
		&__items {
			flex-direction: column;
			text-align: center;
		}
		&__item {
			text-align: center;
		}
		&__item-contacts {
			text-align: center;
			a {
				display: inline-block;
				&::before {
					left: 10px;
				}
			}
		}
		&__adress {
			&::before {
				left: 20px;
			}
		}
	}
}
@media (max-width: 450px) {
	.header__top {
		height: 110px;
		.logoButton {
			width: 170px;
		}
	}
	.menu__btn {
		top: 40px;
	}
	.advantages {
		&__item + &__item {
			margin-left: 0;
			margin-top: 35px;
		}
		&__btn {
			margin-bottom: 55px;
		}
	}
	.standarts {
		padding-top: 40px;
	}
	.video {
		padding-bottom: 30px;
		&__title {
			padding-top: 35px;
			margin-bottom: 18px;
		}
		&__text {
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 380px) {
	.form {
		&__email {
			width: 150px;
		}
		&__btn {
			padding: 14px;
		}
	}
}
@media (max-width: 360px) {
	.video {
		&__btn {
			width: 260px;
		}
	}
}
@media (min-width: 600px) {
	.menu__list {
		display: flex !important;
	}
}
